.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  position: absolute;
  background-color: black;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  top: 100%;
  left: 0;
  white-space: nowrap;
}
